<h1>Login</h1>

<%= form_tag '/login', class: 'col s12' do %>

  <div class="row">
    <div class="input-field col s12">
      <%= label_tag 'email' %>
      <%= text_field_tag :email, nil, class: 'validate'%>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= label_tag 'password' %>
      <%= password_field_tag 'password', nil, class: 'validate' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= button_tag "Login", type: 'submit',
                              class: 'btn waves-effect waves-light' %>
    </div>
  </div>

<% end %>
