<div class="container">
  <h1>Ranking</h1>

  <%= link_to 'reset all scores', reset_scores_path,
              data: { confirm: 'Warning!!! All user score will be reset!' },
              class: 'btn red' %>
  <table class="centered">
    <thead>
      <th>Score</th>
      <th>Username</th>
      <th>existed for</th>
      <% if is_admin %>
      <th>Action</th>
      <% end %>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.score_week1+user.score_week2 %></td>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= (DateTime.now - user.created_at.to_date).to_i %> days</td>
        <% if is_admin %>
        <td>
          <a class="dropdown-button" href="#" data-activates="dropdown<%=user.id%>">
            <i class="material-icons">mode_edit</i>
          </a>
          <ul id="dropdown<%=user.id%>" class="dropdown-content">
            <li><%= link_to 'Edit', edit_user_path(user) %></li>
            <li>
              <!--
               The method: :delete and data: { confirm: 'Are you sure?' } options are
               used as HTML5 attributes so that when the link is clicked, Rails will
               first show a confirm dialog to the user, and then submit the link with
               method delete. This is done via the JavaScript file jquery_ujs which is
               automatically included in your application's layout
               (app/views/layouts/application.html.erb) when you generated the
               application. Without this file, the confirmation dialog box won't appear
              -->
              <%= link_to 'Destroy', user_path(user),
                  method: :delete,
                  data: { comfirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
