<h3 class="center" >垃圾 History</h3>

<div class="divider"></div>
<div class="section">
<% Waste.all.each do |waste| %>
  <% count = @user.thrown_wastes.where(waste_id: waste.id).count() %>
  <% if count != 0 %>

    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image">
          <%= image_tag(waste.image_name.to_s) %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h2 class="header"><%= count %></h2>
          </div>
        </div>
      </div>
    </div>

    <!-- waste popout description -->
    <%= "<div id='modal#{waste.id}' class='modal'>".html_safe %>
      <div class="modal-content">
        <h5 class="center"><%= waste.name %></h5>
        <p><%= waste.description %></p>
      </div>
    </div>

  <% end #if %>
<% end #do %>
</div>

<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>
