<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Rhinow</title>
    <%= favicon_link_tag 'rhinow.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- materialize icon #begin -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize icon #end -->
  </head>

  <body>
    <!-- Navbar #begin -->
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <%= link_to 'Rhinow', root_path, class: 'brand-logo col s6 offst-s1' %>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><a>Hi, <%= current_user.username %>!</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Dashboard',
                            new_user_thrown_waste_path(current_user.id) %></li>
            <li><%= link_to 'My Profile',
                            user_path(current_user.id) %></li>
            <li><%= link_to 'Conclusion',
                            user_thrown_wastes_path(current_user.id) %></li>
            <% if current_user.is_admin %>
              <li><%= link_to 'Trashes Management', wastes_path %></li>
              <li><%= link_to 'User Ranking',
                              users_path %></li>
            <% end %>
            <li><%= link_to 'Logout', '/logout' %></li>
          <% else %>
            <li><%= link_to 'Login', '/login' %></li>
            <li><%= link_to 'Signup', '/signup' %></li>
            <li><%= link_to 'About us',
                            'https://www.facebook.com/rhinow.rightnow/' %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li><a>Hi, <%= current_user.username %>!</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Dashboard',
                            new_user_thrown_waste_path(current_user.id) %></li>
            <li><%= link_to 'My Profile',
                            user_path(current_user.id) %></li>
            <li><%= link_to 'Conclusion',
                            user_thrown_wastes_path(current_user.id) %></li>
            <% if current_user.is_admin %>
              <li><%= link_to 'Trashes Management', wastes_path %></li>
              <li><%= link_to 'User Ranking',
                              users_path %></li>
            <% end %>
            <li><%= link_to 'Logout', '/logout' %></li>
          <% else %>
            <li><%= link_to 'Login', '/login' %></li>
            <li><%= link_to 'Signup', '/signup' %></li>
            <li><%= link_to 'About us',
                            'https://www.facebook.com/rhinow.rightnow/' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <!-- Navbar #end -->

      <%= yield %>
    <!-- Materialize: put js under here #begin -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
      $(".button-collapse").sideNav();
      $('.carousel.carousel-slider').carousel({full_width: true});
      $('ul.tabs').tabs('select_tab', 'tab_id');
      $('.modal').modal();
    </script>
    <!-- Materialize #end -->
  </body>
</html>
