<!DOCTYPE html>
<html>
  <head>
    <title>Byewaste</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- materialize icon #begin -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize icon #end -->
  </head>

  <body>
    <!-- Navbar #begin -->
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Trash Terminators!', root_path, class: 'brand-logo' %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><a>Hi, <%= current_user.username %>!</a></li>
            <li><%= link_to 'Dashboard',
                            user_thrown_wastes_path(current_user.id) %></li>
            <li><%= link_to 'Trashes', wastes_path %></li>
            <li><%= link_to 'Logout', '/logout' %></li>
          <% else %>
            <li><%= link_to 'Login', '/login' %></li>
            <li><%= link_to 'Signup', '/signup' %></li>
            <li><%= link_to 'About us',
                            'https://www.facebook.com/groups/101002767039448/' %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li><a>Hi, <%= current_user.username %>!</a></li>
            <li><%= link_to 'Dashboard',
                            user_thrown_wastes_path(current_user.id) %></li>
            <li><%= link_to 'Trashes', wastes_path %></li>
            <li><%= link_to 'Logout', '/logout' %></li>
          <% else %>
            <li><%= link_to 'Login', '/login' %></li>
            <li><%= link_to 'Signup', '/signup' %></li>
            <li><%= link_to 'About us',
                            'https://www.facebook.com/groups/101002767039448/' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <!-- Navbar #end -->

    <!-- Users #begin -->
    <% if current_user %>
      Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>

    <%= yield %>

    <!-- Materialize: put js under here #begin -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
      $(".button-collapse").sideNav();
    </script>
    <!-- Materialize #end -->
  </body>
</html>
