<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Rhinow</title>
    <%= favicon_link_tag 'rhinow.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- materialize icon #begin -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize icon #end -->
  </head>

  <body>
    <!-- Navbar #begin -->
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <%= link_to 'Rhinow', root_path, class: 'brand-logo col s6 offst-s1' %>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><a>Hi, <%= current_user.username %>!</a></li>
            <li class="divider"></li>
            <li><%= link_to '垃圾製造機',
                            new_user_thrown_waste_path(current_user.id) %></li>
            <li><%= link_to '我的垃圾量',
                            user_path(current_user.id) %></li>
            <li><%= link_to '後記',
                            user_thrown_wastes_path(current_user.id) %></li>
            <% if current_user.is_admin %>
              <li><%= link_to 'Trashes Management', wastes_path %></li>
              <li><%= link_to 'User Management',
                              users_path %></li>
            <% end %>
            <li><%= link_to '登出', '/logout' %></li>
          <% else %>
            <li><%= link_to '登入', '/login' %></li>
            <li><%= link_to '註冊', '/signup' %></li>
            <li><%= link_to '關於我們',
                            'https://www.facebook.com/rhinow.rightnow/' %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li><a>Hi, <%= current_user.username %>!</a></li>
            <li class="divider"></li>
            <li><%= link_to '垃圾製造機',
                            new_user_thrown_waste_path(current_user.id) %></li>
            <li><%= link_to '我的垃圾量',
                            user_path(current_user.id) %></li>
            <li><%= link_to '後記',
                            user_thrown_wastes_path(current_user.id) %></li>
            <% if current_user.is_admin %>
              <li><%= link_to 'Trashes Management', wastes_path %></li>
              <li><%= link_to 'User Ranking',
                              users_path %></li>
            <% end %>
            <li><%= link_to '登出', '/logout' %></li>
          <% else %>
            <li><%= link_to '登入', '/login' %></li>
            <li><%= link_to '註冊', '/signup' %></li>
            <li><%= link_to '關於我們',
                            'https://www.facebook.com/rhinow.rightnow/' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <!-- Navbar #end -->

    <%= yield %>

    <!-- Notification #begin -->
    <% if flash[:message] %>
    <p hidden id="error_explanation"><%=flash[:message]%></p>
    <script>
      $(document).ready(function(){
        var $toastContent = $('#error_explanation').text()
        Materialize.toast($toastContent, 4000); //4000 is the duration of the toast
      });
    </script>
    <% end %>
    <!-- Notificaiton #end -->

    <!-- Materialize: put js under here #begin -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
      $(".button-collapse").sideNav();
    </script>
    <!-- Materialize #end -->
  </body>
</html>
